.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.fullContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttonCyan {
    background-color: var(--cyan);
    color:black
}